

html body{
  font-family: cursive,"roboto";
  /* font-family:sans-serif; */

}
header{
  padding:10px 0; 
}




header h1{
  /* margin:auto auto; */
  text-align: center;
  font-size: 60px;
  
}





.sidebar-btn {
  width: 190px;
  padding: 5px 20px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 100px;
  max-width: 1100px;
  margin: 0 auto;
}

.settings {
  display: flex;

  flex-direction: column;
  gap: 30px;
  align-items: center;
}

#colorPicker{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}




.rounded-color-picker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.rounded-color-picker::-webkit-color-swatch-wrapper {
  padding: 0;
}

.rounded-color-picker::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

.rounded-color-picker::-moz-color-swatch {
  border: none;
  border-radius: 50%;
}
